/* css styles */
/* Change background color and font */
body {
  font-family: 'Ogg', serif;
  background-color: mintcream;
  color: #111111;
}

/* Customize navigation bar */
.navbar {
  background-color: teal;
  color: #e6f2e6;
}

/* Change link color */
a {
  color: indigo;
}
 

/* Customize headers */
h1 {
  color: #003333;
  letter-spacing: 5px;
}
h2 {
  color: #004d4d;
  letter-spacing: 5px;
}

